.bashrc
.bash_history
.bash_logout
.cache/
.config/
.cups/
.eclipse/
.emacs.d/
.gitconfig
#.gitignore
.gnupg/
.local/
.m2/
.mono/
.mozilla/
.npm/
.nvm/
#.oh-my-zsh/
.#p10k.zsh
.pki/
.profile
.recently-used
.ssh/
.sudo_as_admin_successful
.swt/
.tooling/
.vscode/
.wget-hsts
.zcompdump
.zcompdump-andreas-XPS-13-9360-5.8
#.zshenv
#.zshrc
.zsh_history
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Repos/
Templates/
Videos/
snap/
